.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: $Grey-light-2;
	box-shadow: $shadow-dark;
	min-height: 80rem;
	@media only screen and (max-width: $largest) {
		margin: 0;
	}
}
.header {
	font-size: 1.4rem;
	padding: 1.4rem;
	background-color: #fff;
	border-bottom: $border-grey;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media only screen and (max-width: $small) {
		flex-wrap: wrap;
		align-content: center;
	}
}
.content {
	display: flex;
	@media only screen and (max-width: $medium) {
		flex-direction: column;
		justify-content: space-between;
	}
}
.sidebar {
	background-color: $Grey-dark-1;
	flex: 0 0 18%;
	@media only screen and (max-width: $medium) {
	}
}
.hotel-view {
	flex: 1;
}

.detail {
	font-size: 1.4rem;
	display: flex;
	@media only screen and (max-width: $small) {
		flex-direction: column;
	}
	padding: 1.5rem;
	background-color: $Grey-light-1;
	border-bottom: 1px solid $Grey-light-2;
}
.description {
	flex: 0 0 60%;
	margin-right: 4.5rem;
	@media only screen and (max-width: $medium) {
		margin-right: 2rem;
		padding: 2rem;
	}
	@media only screen and (max-width: $small) {
		margin-right: 0;
		font-size: 2rem;
	}
	background-color: #fff;
	box-shadow: $shadow-light;
	padding: 3rem;
}
.user-reviews {
	flex: 1;
	display: flex;
	flex-direction: column;
	@media only screen and (max-width: $small) {
		margin-top: 3.4rem;
	}
}
